@import "tailwindcss";

* {
	font-family: Outfit;
}

.font-ovo * {
	font-family: "Ovo" !important;
}

.btn {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 5;
	border: 1px solid #a7a7a7;
	border-radius: 100px;
	padding: 10px 25px;
	font-weight: 400;
	background-color: #ffffff80;
	color: #4d4d4d;
}
